.dashboard-container-text {
    text-align: center;
    padding: 20px;
}

.dashboard-container-chart {
    border: 1px solid #f0f0f0;
    max-width: 800px;
    min-width: 500px;
    margin: auto;
    padding: 10px;
}

.dashboard-container-options {
    justify-content: center;
    display: flex;
    padding: 10px;
}

.Dropdown-control {
    background-color: #e3e6e9 !important;
}