// Primary Colors
$main-color-green: #005826;
$main-color-red: #870303;
$main-color-faint-green: #bfcec5;
$main-color-faint-red: #b6a2a2;
$main-color-black: #000;
$main-color-white: #fff;
$main-color-light-white: #d8d8d8;

// Social Media Colors
$main-color-google: #DB4437;
$main-color-facebook: #405D9D;