// Primary Colors
$main-dark-navy-color: #040917;
$main-color-black: #000;
$main-color-white: #fff;
$main-color-light-white: #918c8c;

// Social Media Colors
$main-color-google: #DB4437;
$main-color-facebook: #405D9D;